[submodule "api/forestry"]
	path = api/forestry
	url = https://github.com/ForestryMC/ForestryAPI.git
[submodule "api/thaumcraft/thaumcraft/api"]
	path = api/thaumcraft/thaumcraft/api
	url = https://github.com/Azanor/thaumcraft-api.git
[submodule "api/redstoneflux"]
	path = api/redstoneflux
	url = https://github.com/CoFH/RedstoneFlux-1.12-Legacy.git
	branch = 1.7.10
[submodule "api/railcraft"]
	path = api/railcraft
	url = https://github.com/WorldonGames/Railcraft-API.git
