.metadata/
.gradle/
.settings/
bin/
blueprints/
build/
config/
/gradle.properties
/logs
/mods
/resourcepacks
/saves
.classpath
.project


eclipse/
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
.nb-gradle/
.nb-gradle-properties
push/
.idea/
*.iml
run/
private/
*.ipr
*.iws
out/
classes/
.settings
usernamecache.json
options.txt
